@model IEnumerable<BugTracker.Models.Project>

@{
    ViewBag.Title = "Index";
   @* Layout = "ProjectController"; *@
}

<h2>Project Listing</h2>

<p>
    <a href="@Url.Action("Create")" style="color:green; font-weight: 800">CREATE NEW</a>
   @*  @Html.ActionLink("Create New", "Create")  *@
</p>
<table class="table">
    <tr>
        <th style="color: black; background-color:#F0F0F0; font-size: 15px;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style ="color: black; background-color:#F0F0F0; font-size: 15px;">
            @Html.DisplayNameFor(model => model.Description)
            </th>
        <th style="color: black; background-color:#F0F0F0;"></th>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a href="@Url.Action("Edit",new { id=item.Id })" style="color:green; font-weight: 800">EDIT -</a>
            @* @Html.ActionLink("Edit", "Edit", new { id=item.Id }) @(" | ") *@
            <a href="@Url.Action("Details",new { id=item.Id })" style="color:blue; font-weight: 800">DETAILS -</a>
            @* @Html.ActionLink("Details", "Details", new { id=item.Id }) @(" | ") *@
            <a href="@Url.Action("Delete",new { id=item.Id })" style="color:red; font-weight: 800"> DELETE</a>
            @* @Html.ActionLink("Delete", "Delete", new { id=item.Id }) *@
          
        </td>
    </tr>
}

</table>
